* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(120deg, #fff1eb, #ffdde1);
}

.nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo{
    width:50px;
    height:50px;
    border-radius: 20px;
}

.logout {
    width: 80px;
    height: 30px;
    border-radius: 10px;
}

.logout:hover {
    cursor: pointer;
    color: blue;
    background-color: orangered;
    transform: scale(1.05);
  transition: 0.2s;
}
.content {
    width: 100vw;
    height: 60px;
    /* background-color: red; */
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
}

.menus {
    display: flex;
    gap: 20px;
    padding: 20px;
}
.add_rest {
    width: 50%;
    height: 300px;
    background-color: rgb(228, 85, 85);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 20px;
}

.view_rest {
    width: 50%;
    background-color: rgb(228, 85, 85);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 20px;
}

.menubtn {
    width: 80px;
    height: 30px;
    border-radius: 10px;
}

.menubtn:hover {
    cursor: pointer;
    color: blue;
    background-color: orangered;
    transform: scale(1.05);
  transition: 0.2s;
}