* {
    margin: 0;
    box-sizing: border-box;
    
}

.container {
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(120deg, #fff1eb, #ffdde1); 
}

.nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo{
    width:50px;
    height:50px;
    border-radius: 20px;
}

.logout {
    width: 80px;
    height: 30px;
    border-radius: 10px;
}

.logo {
    height: 50px;
    width: 50px;
}
.logout:hover {
    cursor: pointer;
    color: blue;
    background-color: orangered;
    transform: scale(1.05);
  transition: 0.2s;
}

.content {
    width: 100vw;
    height: 60px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
}

.cards {
    padding: 20px;
    width: 100%;
    display: flex;
    gap: 100px;              /* space between cards */
    justify-content: flex-start;
    flex-wrap: wrap;        /* allows multiple rows */
    /* background-color: orangered; */
    border-radius: 40px;
}

.card1img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
}

.card1Content {
   display: flex;
    flex-direction: column;
    gap: 6px;

    padding: 5px;
}

.card11 {
    width: 300px;
    background-color: rgb(255, 159, 85);
    border-radius: 12px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.updates {
    display: grid;
    grid-template-columns: repeat(3, 90px);

}

.udt {
    background-color: rgb(237, 101, 5);
    border-radius: 10px;
}

.udt:hover {
    transform: scale(1.05);
  transition: 0.2s;
}