*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.hero {
    width: 100vw;
    height: 100vh;
    padding-top: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(120deg, #fff1eb, #ffdde1);
}

.heading {
    width: 100vw;
}

h3 {
    margin-top: 40px;
    margin: 20px;
}

img {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 80px;
    margin-bottom: 40px;

}

.body {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   background-color: rgba(199, 62, 12, 0.6);
   width: 400px;
   height: 400px;
   margin: 2px;
   padding: 2px;
   border-radius: 10px;
}

button {
     width: 80px;
    height: 30px;
    background-color: orangered;
    border-radius: 10px;
}
button:hover {
    color: blue;
    cursor: pointer;   
}

.chief1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chief2 {
    /* background-color: aquamarine; */
    display: flex;
    align-items: end;
    justify-content: left;
}

.caption1 {
    padding: 3px;
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 28%;
    left: 17%;
    font-size: 13px;
    background-color: rgb(214, 92, 67);
    animation: popin 2.5s ease-out forwards;
}

@keyframes popin {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    60% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

.caption2 {
    padding: 3px;
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 68%;
    font-size: 13px;
    background-color: rgb(223, 105, 97);
    animation: bounce1 2s ease-out forwards;
}

@keyframes bounce1 {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
}
}