* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* font-weight: 5px; */
}

.container {
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(120deg, #fff1eb, #ffdde1);
    padding-left: 20px;
}

.heading {
    padding-top: 20px;
    height: 20%;
    display: flex;
    justify-content: center;
}
.bodies {
    display: flex;
    justify-content: space-around;
}

.left {
    height: 35%;
    width: 30%;
}

.left img {
    width: 100%;
    height: 100%;
}

.right {
    height: 400px;
    width:40%;
    background-color: rgba(255, 69, 0, 0.6);
    border-radius: 30px;
}

.right_body {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    padding: 60px;
}

#signbtn {
    margin-left: 100px;
    margin-right: 40px;
    padding: 8px;
    border-radius: 10px;
}

input {
    border-radius: 100px;
    padding: 5px;
    margin: 5px;
}

#signbtn:hover {
    transform: scale(1.05);
    transition: 0.1s;
    color: rgb(217, 14, 34);
}

.chief-text {
    padding: 3px;
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 24%;
    left: 37%;
    font-size: 13px;
    background-color: chocolate;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform : translateY(-12px)
    }
}