{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CH-UR</title>
    <link rel="stylesheet" href="{% static 'updateRest.css' %}?v=2">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <!-- -------------------------navigation-------------------- -->
         <div class="nav">
            <img src="{% static 'pictures/logo.png' %}" alt="picture" class="logo">
            <h1>CraveHub</h1>
            <button class="logout">LogOut</button>
         </div>

         <!-- ------------------------------content--------------------- -->
          <div class="content">
            <h3>Update Restaurant</h3>
            <p>Update restaurant profile details to reflect the latest changes.</p>
         </div>

         <!-- ---------------------------------form and pictures -----------------------  -->
          <!-- ------------------ first image ------------------- -->
        <div class="body">
             <div class="chief1">
                <img src= "{%static 'pictures/signUpLeft.png' %}">
                <div class="caption1">
                    Oops! Old information? 
                </div>
             </div>

             <!-- --------------------- form -------------------- -->
             <div class="form">
                <h3>Update</h3>
                <form action="{% url 'open_update_restaurant' restaurant.id %}" method="post">
                    {% csrf_token %}
                    <label>Restaurant Name:</label>
                    <input type="text" name="name" value="{{restaurant.name}}">
                    <br>

                    <label>Picture url:</label>
                    <input type="text" name="picture" value="{{restaurant.picture}}">
                    <br><br>

                    <label>Cusine:</label>
                    <input type="text" name="cusine" value="{{restaurant.cusine}}">
                    <br><br>

                    <label>Rating</label>
                    <input type="text" name="rating" value="{{restaurant.rating}}">
                    <br><br>
                    <button type="submit">Update Restaurant</button>
                </form>
             </div>

             <!-- -------------------- final image ---------------------- -->
             <div class="chief2">
                <img src="{%static 'pictures/signUpRight.png'%}">
                <div class="caption2">
                    Don’t worry: You can change it
                </div>
            </div>
        </div>
    </div>
</body>
</html>

